#profilePage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 50%;
}
.module-img{
    height: 65vh;
    margin: 10px;
    margin-top: -10px;
}
#textsPage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 50%;
}

.questionbuttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ans1, .ans2{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

    margin: 10px;
    padding: 10px;
    width: 7vw;
    font-size: 2.5vw;
    background-color: #CE796B;
    border-radius: 10px;
    transition: .4s ease;
}
.ans1:hover, .ans2:hover{
    background-color: #C18C5D;
}

.selected{
    transform: scale(.95);
    background-color: #495867;
}